<span {{action "hkToggleDebugger"}} class="wb-toolswitch">&#9991;</span>

{{#if hkIsDebugging}}
	{{#glog-app}}
			<strong>Style:</strong> Namespace: {{styleRoot}} | Theme: {{styleTheme}}
	{{/glog-app}}
{{/if}}

<header {{action "hkToggleMinimized"}}>Import Files</header>

{{#unless hkIsMinimized}}
<main>
	<center>
	{{#each driver in meta.options.items}}
		<button>{{driver.label}}</button><br>
	{{/each}}
	</center>
</main>
{{/unless}}

