<span {{action "hkToggleMinimized"}} class="wui-toolswitch">&#9991; Minimize</span>
<span {{action "hkToggleHighlight"}} class="wui-toolswitch">&#9991; Highlight</span>
<span {{action "hkToggleDebugger"}} class="wui-toolswitch">&#9991; Debugger</span>

{{#if hkIsDebugging}}
	{{#glog-app}}
			<strong>Style:</strong> Namespace: {{styleNamespace}} | Theme: {{theme}}
	{{/glog-app}}
{{/if}}

<div {{action "hkToggleMinimized"}}>metadata-editor{{meta.label}}</div>

{{#unless hkIsMinimized}}
<main>
	{{#each item in meta.options.items}}
		<button>{{item.label}}</button>
	{{/each}}

{{!-- 	{{#each item in app.selectedFiles}}
		<button>{{item.path}}</button>
	{{/each}} --}}
	<ul>
		<li>bla</li>
		<li>bla</li>
		<li>bla</li>
		<li>bla</li>
	</ul>
</main>
{{/unless}}



