<span {{action "hkToggleDebugger"}} class="wb-toolswitch">&#9991;</span>

{{#if hkIsDebugging}}
	{{#glog-app}}
			<strong>Style:</strong> Namespace: {{styleNamespace}} | Theme: {{theme}}
	{{/glog-app}}
{{/if}}

<header {{action "hkToggleMinimized"}}>{{meta.label}}</header>

{{#unless hkIsMinimized}}
<main>
	{{#each driver in meta.options.items}}
		<button>{{driver.label}}</button>
	{{/each}}
</main>
{{/unless}}



