{{!-- <span {{action "hkToggleDebugger"}} class="wui-toolswitch">&#9991;</span> --}}

{{#if hkIsDebugging}}
	{{#glog-app}}
			<strong>Style:</strong> Namespace: {{styleNamespace}} | Theme: {{theme}}
	{{/glog-app}}
{{/if}}

<header {{action "hkToggleMinimized"}}>{{meta.label}}</header>

{{#unless hkIsMinimized}}
<main>
	{{#each item in meta.options.items}}
		<button>{{item.label}}</button>
	{{/each}}

	{{#each item in app.selectedFiles}}
		<button>{{item.path}}</button>
	{{/each}}
</main>
{{/unless}}



