<div class="hk-main">
	<header>
		<span class="wb-toolswitch">{{#link-to "rpe"}}&#9991;{{/link-to}}</span>
	</header>

	<aside class="left">
		{{wb-sessions items=config.session state=state label="DURAARK"}}
	</aside>

	<main>
		<div id="cesiumContainer"></div>
		  {{!-- <script>
    var viewer = new Cesium.Viewer('cesiumContainer');
  </script>
		{{cesium-globe}} --}}

		{{#list-overview items=files as |file|}}
			<center>
				<p>Path: {{file.path}}</p>
				<p>Size: {{file.size}}</p>
			</center>
		{{/list-overview}}
	</main>

	<aside class="right">
		{{wb-tools items=config.tools label="WORKBENCH"}}
	</aside>

	<footer>
		INFO: #sessionPlugins: {{config.session.length}} | #toolPlugins: {{config.tools.length}}
	</footer>
</div>
