<div class="hk-main">
	<header>
		<span class="wb-toolswitch">{{#link-to "rpe"}}&#9991;{{/link-to}}</span>
	</header>

	<aside class="left">
		{{wb-sessions items=config.session app=app label="DURAARK"}}
	</aside>

	<main>
		{{wb-file-explorer items=app.files onFileSelection="onFileSelection"}}

		{{!-- <div id="cesiumContainer"></div> --}}
		  {{!-- <script>
    var viewer = new Cesium.Viewer('cesiumContainer');
  </script>
		{{cesium-globe}} --}}
	</main>

	<aside class="right">
		{{wb-tools items=config.tools label="WORKBENCH"}}
	</aside>

	<footer>
		INFO: #sessionPlugins: {{config.session.length}} | #toolPlugins: {{config.tools.length}} | numSelectedFiles: {{app.selectedFiles.length}}
	</footer>
</div>
