<div class="hk-app">
	<header>
		<span id="wui-app-store">{{#link-to "rpe"}}&#9991;{{/link-to}}</span>

		{{wb-stages items=config.stages}} // FIXXME: does show in wb-session
	</header>

	<aside class="left">
		{{wb-session items=config.session app=app label="DURAARK"}}
	</aside>

	<main>
		{{wb-file-explorer items=app.files onFileSelection="onFileSelection"}}
	</main>

	<footer>
		INFO: #sessionPlugins: {{config.session.length}} | #toolPlugins: {{config.tools.length}} | numSelectedFiles: {{app.selectedFiles.length}}

		{{#wui-metadata-button model=app.selectedFiles as |file|}}
			<h1>File: {{file.path}}</h1>
		{{/wui-metadata-button}}
	</footer>
</div>
