<div class="hk-main">
	<header>
		{{wb-stages items=stages  label="STAGES"}} 
		<span class="wb-toolswitch">{{#link-to "admin"}}&#9991;{{/link-to}}</span>
	</header>

	<aside class="left">
		{{wb-sessions items=session label="ARCHIVE"}}
	</aside>

	<main>
		VIEWPORT 

		{{#list-overview items=files as |file|}}
			<center>
				<p>Path: {{file.path}}</p>
				<p>Size: {{file.size}}</p>
			</center>
		{{/list-overview}}
	</main>

	<aside class="right">
		{{wb-tools items=tools label="TOOLS"}}
	</aside>

	<footer>
		INFO: #sessionPlugins: {{session.length}} | #toolPlugins: {{tools.length}}
	</footer>
</div>
