<div class="hk-app">
	<header>
		<span id="wui-app-store">{{#link-to "rpe"}}&#9991;{{/link-to}}</span>
	</header>

	<aside class="left">
		{{wb-session items=config.session app=app label="DURAARK"}}
	</aside>

	<main>
		{{wb-file-explorer items=app.files onFileSelection="onFileSelection"}}
	</main>

	<aside class="right">
		{{wb-tools items=config.tools label="WORKBENCH"}}
	</aside>

	<footer>
		INFO: #sessionPlugins: {{config.session.length}} | #toolPlugins: {{config.tools.length}} | numSelectedFiles: {{app.selectedFiles.length}}
	</footer>
</div>
