<div class="hk-main">
	<header>KITCHENSINK</header>

	<aside class="left">
		{{wb-sessions items=sessionTools label="SESSIONS"}}
	</aside>

	<main>VIEWPORT{{outlet "main"}}</main>

	<aside class="right">
		{{wb-stages items=stageEditors  label="TOOLS"}}
	</aside>

	<footer>INFO: #sessionTools: {{sessionTools.length}} | #stages: {{stageEditors.length}}</footer>
</div>


