<header>KITCHENSINK</header>

<aside class="left">
	SESSION

	{{#hk-sidebar items=sessionTools as |item|}}
		<h4>{{item.label}}</h4>
	{{/hk-sidebar}}
</aside>

<main>VIEWPORT{{outlet "main"}}</main>

<aside class="right">
	STAGES

	{{#hk-sidebar items=stageEditors as |item|}}
		<h4>{{item.label}}</h4>
	{{/hk-sidebar}}
</aside>

<footer>INFO: #sessionTools: {{sessionTools.length}} | #stages: {{stageEditors.length}}</footer>


